
.DS_Store
.ipynb_checkpoints/1 - Intro and Motivating Ex-checkpoint.ipynb
.ipynb_checkpoints/STAT 411 Syllabus-checkpoint.ipynb
Data Sets/house-prices-advanced-regression-techniques/.ipynb_checkpoints/1 - House Prices - Regression-checkpoint.ipynb
Data Sets/house-prices-advanced-regression-techniques/.ipynb_checkpoints/2 - House Prices - Regression-checkpoint.ipynb
Data Sets/house-prices-advanced-regression-techniques/.ipynb_checkpoints/3 - House Prices - Regression-checkpoint.ipynb
Data Sets/house-prices-advanced-regression-techniques/.ipynb_checkpoints/data_description-checkpoint.txt
Data Sets/house-prices-advanced-regression-techniques/.ipynb_checkpoints/data_description-checkpoint.txt
Data Sets/house-prices-advanced-regression-techniques/.ipynb_checkpoints/data_description-checkpoint.txt
Data Sets/house-prices-advanced-regression-techniques/.ipynb_checkpoints/data_description-checkpoint.txt
Data Sets/house-prices-advanced-regression-techniques/.ipynb_checkpoints/data_description-checkpoint.txt
Data Sets/house-prices/.ipynb_checkpoints/1 - House Prices - Regression-checkpoint.ipynb
Data Sets/house-prices/.ipynb_checkpoints/2 - House Prices - Regression-checkpoint.ipynb
Data Sets/house-prices/.ipynb_checkpoints/3 - House Prices - Regression-checkpoint.ipynb
Data Sets/house-prices/.ipynb_checkpoints/data_description-checkpoint.txt
Data Sets/Adult/.ipynb_checkpoints/adult-names-checkpoint.csv
.ipynb_checkpoints/2 - Data and Teams-checkpoint.ipynb
